@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="custom-nav">
            <a class="nav-link text-dark" asp-area="" asp-controller="DataList">Project1</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="DataList">Project2</a>
        </div>
    </div>
</body>
</html>
